.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 70vh;
}

@media (width < 1200px) {
  .layout {
    display: block;
    min-height: inherit;
  }
}
