.picture-section {
  display: flex;

  .picture-wrapper {
    width: 50%;
    height: 30rem;
    grid-area: picture;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  .contactData {
    width: fit-content;
  }
}

.picture-section.right {
  flex-direction: row-reverse;
}

@media (width < 1200px) {
  .picture-section {
    flex-direction: column;

    .text {
      height: fit-content;
      width: 100%;
      padding-bottom: 3rem;
    }

    .picture-wrapper {
      height: 15rem;
      width: 100%;
    }
  }

  .picture-section.right {
    flex-direction: column;
  }
}
