:root {
  --main-color: #21212e;
  --main-yellow: #f1a800;
  --gold-bright: #ad7f14;
  --gold-dark: #9a7112;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Playfair Display", serif;
  text-wrap: balance;
}

p,
button {
  font-family: "Lato", sans-serif;
  text-wrap: pretty;
}
